<div class="row">
  <div class="col-xs-12">
    <img
      [src]="renewal.imagePath"
      alt="{{ renewal.name }}"
      class="img-responsive"
      style="max-height: 150px;">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ renewal.name }}</h1>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <div 
      class="btn-group"
      appDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">Manage Renewals<span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a (click)="onAddToRenewalListing()" style="cursor: pointer;">To Renewal List</a></li>
        <li><a style="cursor: pointer;" (click)="onEditRenewalListing()">Edit Renewal</a></li>
        <li><a style="cursor: pointer;" (click)="onDeleteRenewalListing()">Delete Renewal</a></li>
      </ul>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    {{ renewal.description }}
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li
        class="list-group-item"
        *ngFor="let renewal of renewal.renewals">
        {{ renewal.name }} - {{ renewal.amount }}
      </li>
    </ul>
  </div>
</div>